<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>MyApp</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="{% url 'post_list' %}">Home</a></li>
                    <li><a href="{% url 'post_create' %}">Create Post</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
